<section class="py-3">
  <div class="container py-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div>
      <a class="navbar-brand" href='welcome'>
        <img class="rounded-image" src="assets/logo.png">
      </a>
      </div>
    
      <div class="buttonDiv">
        <a class="button" href='login'>
          <img class="rounded-image" src="assets/LoginButton.drawio.png">
        </a>
      </div>
    
    
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
    </nav>
  </div>
</section>

<section class="py-3">
  <div class="container py-4">

    <header class="mb-5">
      <h2 class="text-uppercase lined mb-4">About Quick Food </h2>
      <p class="lead">Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of bed each morning. 
        It pushes us to constantly reimagine how we can move better. For you. For all the places you want to go. For all the things you want to get. For all the ways you want 
        to earn. Across the entire world. In real time. At the incredible speed of now.</p>

        <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 
          years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum 
          passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de 
          Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the 
          Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    </header>
  </div>
</section>

<section class="py-3">
  <div class="container py-4">

    <h2 class="text-uppercase lined mb-4">What Our Customers Say </h2>

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sarah Little</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 2 secs ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Michael Kander</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 9 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lauren South</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 13 mins ago</small></p>
        </div>
      </div>
    </div>
    
  </div>
</section>

<section class="py-3">
  <div class="container py-4">

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nessie Drake</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 18 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Michael Kimbleton</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 27 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Samuel Hinderson</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 32 mins ago</small></p>
        </div>
      </div>
    </div>
    
  </div>
</section>

<section class="py-3">

  <div class="container py-4">

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kyle Kim</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 49 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lawrence Lee</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 59 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Courtney Bell</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 1 hr ago</small></p>
        </div>
      </div>
    </div>
    
  </div>
</section>

<section class="py-3">
  <div class="container py-4">
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="ratio ratio-4x3">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/G-T3qKl6y-c"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <!-- MAIN FOOTER-->
  <div class="bg-gray-700 text-white py-5">
    <div class="container py-4">
      <div class="row gy-4">
        <div class="col">
          <h4 class="mb-3 text-uppercase">About Us</h4>
          <p class="text-uppercase text-sm text-gray-500">Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of bed each morning. 
            It pushes us to constantly reimagine how we can move better. For you. For all the places you want to go. For all the things you want to get. For all the ways you want 
            to earn. Across the entire world. In real time. At the incredible speed of now.</p>
        </div>

        <div class="col">
          <h4 class="mb-3 text-uppercase">Partners</h4>
          <p class="text-uppercase text-sm text-gray-500"><strong>UBER</strong><br>Example Avenue <br>Example Town <br>009923 <br>United States of America <br>
            <strong>Door Dash</strong><br>Example Avenue <br>Example Town <br>009923 <br>United States of America <br>
            <strong>Grub Hub</strong><br>Example Avenue <br>Example Town <br>009923 <br>United States of America <br></p>
        </div>

        <div class="col">
          <h4 class="mb-3 text-uppercase">Executives</h4>
          <p class="text-uppercase text-sm text-gray-500"><strong>CEO</strong><br>1112 Cherry Rd <br>North Quincy <br>05829 <br>New Mexico <br><strong>United States of America</strong></p>
          <p class="text-uppercase text-sm text-gray-500"><strong>COO</strong><br>1112 Cherry Rd <br>North Quincy <br>05829 <br>New Mexico <br><strong>United States of America</strong></p>
          <p class="text-uppercase text-sm text-gray-500"><strong>CFO</strong><br>1112 Cherry Rd <br>North Quincy <br>05829 <br>New Mexico <br><strong>United States of America</strong></p>
        </div>

        <div class="col">
          <h4 class="mb-3 text-uppercase">Contact</h4>
          <p class="text-uppercase text-sm text-gray-500"><strong>Quick Foods</strong><br>1112 Cherry Rd <br>North Quincy <br>05829 <br>New Mexico <br><strong>United States of America</strong></p>
          <p class="text-uppercase text-sm text-gray-500"><strong>Phone Number</strong><br>777-777-7454<br></p>
          <p class="text-uppercase text-sm text-gray-500"><strong>Email</strong><br>QuickFoods@example.net<br></p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- JavaScript files-->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/waypoints/lib/noframework.waypoints.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script src="vendor/choices.js/public/assets/scripts/choices.js"></script>
<script src="js/theme.js"></script>

<!-- Hello World -->
